.statuses {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 36px;
}

.number_columns {
  display: flex;
  gap: 16px;
}

.number_column {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.number_done {
  color: #0cc;
}

.total {
  text-shadow:
    0 0 16px rgb(51 51 255 / 25%),
    0 0 8px rgb(51 51 255 / 25%),
    0 4px 32px rgb(51 51 255 / 50%);
}
