.header {
  display: flex;
  align-items: center;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 101;
  box-sizing: border-box;
  min-width: 720px;
  background: var(--background-alt);
  border-radius: 40px;
  transform: translate(-50%, -50%);
}

.close {
  margin-left: auto;
  cursor: pointer;
}
